@import 'tailwindcss';
@plugin 'daisyui' {
  themes: light --default
}

/* customize theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #FF6F61;   /* Playful Red */
  --color-secondary: #4CC9F0; /* Sky Blue */
  --color-accent: #F9C74F;    /* Kids Yellow */
  --color-neutral: #2D2D2D;   /* Dark Text */
  --color-base-100: #FAFAFA;  /* Light Background */
}
/* .mySwiper{
  height: 200px;
} */
.image-slider{
  /* display: block; */
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.swiper-navigation-icon{
  @apply text-secondary !w-10 !h-10 
}
