@import 'tailwindcss';
@plugin 'daisyui' {
  themes: light --default
}

/* customize theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #FF6F61;   /* Playful Red */
  --color-primary-content: #374151; /*dark 2 */
  --color-secondary-content: #4B5563; /*dark 3 */
  --color-secondary: #4CC9F0; /* Sky Blue */
  --color-accent: #F9C74F;    /* Kids Yellow */
  --color-neutral: #2D2D2D;   /* Dark Text */
  --color-base-100: #FAFAFA;  /* Light Background */
}




.swiper-navigation-icon{
  @apply text-secondary !h-7 md:!h-10
}


.section-title{
  @apply text-secondary text-3xl font-semibold border-b-3 inline-block border-primary/20 hover:border-primary/50 transition-colors ease-in-out pb-1 cursor-default
}

.all-items{
  @apply text-primary text-sm font-semibold border-1 py-1 px-3 rounded-3xl bg-primary/10 transition-all ease-in hover:text-secondary hover:text-[15px]
}

.category-nav .active{
  @apply text-secondary scale-110
}
.category-nav .active figure{
  @apply shadow-lg
}

.my-input{
  @apply bg-base-300 focus:outline-none rounded-md p-4 placeholder:text-secondary-content
}